@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.welcome {
  text-align: center;
}

.container {
  background-color: #333;
  color: aliceblue;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}